<main class="main">
  <p-menubar class="menu" [autoZIndex]="true">
    <ng-template pTemplate="start">
      <i class="pi pi-bars menu-button"></i>
    </ng-template>
  </p-menubar>
  <div class="center">
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
    <app-drill-generator></app-drill-generator>
  </div>
</main>

<router-outlet />
